streamlit==1.32.0
openai==1.23.0
pypdf==4.0.0
chromadb==0.4.22
duckduckgo-search==5.2.0
gtts==2.5.1
python-docx==1.1.0
requests==2.31.0
Pillow==10.2.0
python-dotenv==1.0.1
NVIDIA_API_KEY=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
